:root {
    --color_1: #FAFAFF;
    --color_2: #EEF0F2;
    --color_3: #ECEBE4;
    --color_4: #DADDD8;
    --color_5: #1C1C1C;
    --color_6: #5c7aff;
    --color_7: #faf9f9;
    --color_8: #bdc9ff;
}

.card_video {
    width: 380px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0.5rem;
    position: relative;
    gap: 0.2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 4.5rem;
}

.card_video_player {
    width: 190px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_video_information {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_8);
    position: relative;
    border-radius: 7px;
}

.card_video_information::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -57px;
    border-top: 30px solid var(--color_8);
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

.card_video_information_title {
    width: 80%;
    height: 30%;
    overflow: hidden;
}

.card_video_information_title h3 {
    text-align: center;
    color: var(--color_5);
    font-size: 0.9rem;
    overflow: hidden;
}

.card_information_btns {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    position: relative;
}

.card_information_btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 55px;
    position: absolute;
    z-index: 1;
    background-color: var(--color_5);
    border: none;
    bottom: -7.5rem;
    border-radius: 20px;
}

.card_information_btns button:hover {
    cursor: pointer;
}

.card_information_btns .bx {
    font-size: 4rem;
    color: var(--color_7);
}

@media (width < 380px ) {
    .card_video {
        width: 380px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 0.5rem;
        position: relative;
        gap: 0.2rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-bottom: 3rem;
        transform: scale(0.8);
    }
    
    .card_video_player {
        width: 190px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card_video_information {
        width: 50%;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color_8);
        position: relative;
        border-radius: 7px;
        padding: 0.3rem;
    }
    
    .card_video_information::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -56px;
        border-top: 30px solid var(--color_8);
        border-bottom: 30px solid transparent;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
    }
    
    .card_video_information_title {
        width: 80%;
        height: 25%;
        overflow: hidden;
    }
    
    .card_video_information_title h3 {
        text-align: center;
        color: var(--color_5);
        font-size: 0.8rem;
        overflow: hidden;
        padding: 0.1rem;
    }
    
    .card_information_btns {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        margin-top: 1.5rem;
        position: relative;
    }
    
    .card_information_btns button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 78px;
        height: 53px;
        position: absolute;
        z-index: 1;
        background-color: var(--color_5);
        border: none;
        bottom: -7.2rem;
        border-radius: 20px;
    }
    
    .card_information_btns button:hover {
        cursor: pointer;
    }
    
    .card_information_btns .bx {
        font-size: 3rem;
        color: var(--color_7);
    }
}